[{
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.nkx.TheKiller",
      "sha256_cert_fingerprints":
      ["79:5A:0D:C2:49:85:38:8B:1E:44:E0:27:66:15:8A:0E:B1:59:76:5C:17:4E:28:42:E5:5F:B8:48:E1:D7:23:34"]
    }
  }]