<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>The Killer</title>
  {{ style('style') }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167446947-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167446947-2');
</script>
</head>
<body>
  <section>
      <div class="title">Les règles du jeu du killer</div>
      <p class="subtitle">
        Le Killer est un jeu se déroulant sur une longue durée. Idéal pour un week-end ou une semaine de vacances entre amis.
      </p>
      </br>
      <p class="subtitle">
        Au début de la partie chaque joueur renseigne un kill. Soyez créatif!
        Lorsque tous les joueurs sont prêts, chacun se voit attribuer un kill et une victime.
      </p>

      <p class="subtitle">
        Pour effectuer son Kill, un joueur doit convaincre sa victime de réaliser l'action qui lui aura été attribuée.
        Lorsqu'un joueur effectue son kill, il récupère le kill et la victime de la personne qu'il vient de killer.
      </p>

      <p class="subtitle">
        Le but du jeu est simplement d'être le dernier survivant. 
      </p>
  <script>
  "use strict";

  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('z75nz899he2e');
  </script>
  <!-- End of Async Drift Code -->
</body>
</html>
