<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="UTF-8" />
  <meta name="description" content="Jeu du killer: Effectuer l'attribution des kills"/>
  <meta name="googlebot" content="Jeu de role, le killer, jeu du killer, role game play, jeu killer, jeu entre amis, killer"/>
  <meta name="robots" content="Jeu de role, le killer, jeu du killer, role game play, jeu killer, jeu entre amis, killer"/>
  <title>The Killer - Jeu de rôle</title>

  <!-- CSS  -->
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body class="grey-text text-lighten-3">
  <div id="copied" class="sm">✔️ Copied to clipboard </div>
  <div class="container">
      
    @if(!game)
        <form autocomplete="off" class="form" action="{{ route('game.new') }}" method="POST">
          {{ csrfField() }}
          <div class="css-typing-hidden">
            Have you ever dreamed of killing your friends?
         </div>
         <div class="css-typing"></div>
          <button id="start" type="submit" class="delay-8s start button button-white">Start</button>
        </form>
    @endif

    <!--Game Part -->
    @if(game)
      @if(isGameOwner && !startedAt)
          <div class="css-typing-hidden">
            Share this link with your group
          </div>
          <div class="css-typing"></div>
          <div class="start delay-4s">
            <div id="copyTarget" hidden>{{link}}</div>
            <div id="copyButton" class="clipboardButton clipboard"></div>
        </div>
      @endif

      @if(!isSuggestKill)

        @if(kill)
            <div class="css-typing-hidden">Your victim is</div>
            <div class="css-typing sm"></div>
            <div class="margin-3rem"></div>
            <div class="css-typing-hidden">...</div>
            <div class="css-typing"></div>
            <div class="margin-3rem"></div>
            <div class="css-typing-hidden">{{victim.username}}</div>
            <div class="css-typing"></div>
            <div class="margin-3rem"></div>
            <div class="css-typing-hidden">You will have to</div>
            <div class="css-typing sm"></div>
            <div class="margin-3rem"></div>
            <div class="css-typing-hidden">{{kill.description}}</div>
            <div class="css-typing"></div>
            <div></div>
            <div class="margin-3rem"></div>
            <div  class=" css-typing-hidden "> You have a new kill idea? Make sure to share it to inspire future players</div>
            <a href="?suggestKill=1" class="css-typing xs underline"></a>
        @endif
      @endif

      @if(isSuggestKill)
        <form autocomplete="off" class="form" action="{{ route('kill.suggest') }}" method="POST">
            <div class="input-container">
              <input name="description" class="input" placeholder="Perfect kill idea for next time" id="description" required type="text" value="" class="validate" />
              <label class="label" for="description">Suggestion</label>
          </div>
          {{ csrfField() }}
          <input hidden name="game_id" value="{{ game.encrypted }}"/>
          <button class="start button button-white delay-6s" type="submit" name="action">Send
          </button>  
        </form>
      @endif

      @if(startedAt && !ownKill)

        <div class="css-typing-hidden">This game has already begun.</div>
        <div class="css-typing"></div>
        <div class="margin-3rem"></div>
        <div class="css-typing-hidden">If you opened the link in a new browser, your data will be inaccessible.</div>
        <div class="css-typing"></div>
        <div class="margin-3rem"></div>
        <div class="css-typing-hidden">Make sure to open this link from the same browser you used the first time. </div>
        <div class="css-typing"></div>
        <div class="margin-3rem"></div>
        <div class="css-typing-hidden">If you would like to start a new game click on the button below: </div>
        <div class="css-typing"></div>
        
        <div class="start">
          <form autocomplete="off" class="form" action="{{ route('game.new') }}" method="POST">
            {{ csrfField() }}
            <button class="start button buttton-white delay-18s" type="submit">New</button>
          </form>
        </div>

      @elseif(!isKillOwner || (isUpdateKill && !startedAt))
        <div class="css-typing-hidden">
          Write your kill below:
        </div>
        <div class="css-typing"></div>

        <form autocomplete="off" class="form delay-6s " action="{{ route('game') }}" method="POST">
            <div class="input-container">
              <input name="username" class="input" placeholder="Fifou" id="username" required type="text" value="{{username}}" class="validate" />
              <label class="label" for="username">Name</label>
            </div>

            <div class="input-container">
              <input name="description" class="input" placeholder="{{killSuggestion}}" id="description" required type="text" value="{{ownKill.description || ''}}" class="validate" />
              <label class="label" for="description">Kill</label>
            </div>

            {{ csrfField() }}
            <input hidden name="id" value="{{ game.encrypted }}"/>
            <input hidden name="kill_id" value="{{ ownKill && ownKill.id }}"/>

            @if(isUpdateKill)
              <button class="start button button-white" type="submit" name="action">Modify
              </button>
            @else
              <button class="start button button-white" type="submit" name="action">Send
              </button>
            @endif
        </form>
      @endif

      @if(!isGameOwner && !startedAt)
          @if(killers.length < minPlayers)
              <div class="css-typing-hidden">Waiting for at least {{minPlayers - killers.length}} other player(s)...</div>
              <div class="css-typing sm"></div>
          @else
            @if(game)
                <div class="css-typing-hidden">Waiting for the game to start...</div>
                <div class="css-typing sm"></div>
            @endif
          @endif
      @endif

      @if(isGameOwner && !startedAt)
        <form autocomplete="off" class="form" action="{{ route('game.start', {id: game.encrypted}) }}" method="POST">
          {{ csrfField() }}
          <input hidden name="id" value="{{ game.encrypted }}"/>
          @if(killers.length < 3)
            <div class="css-typing-hidden">Waiting for at least {{minPlayers - killers.length}} other player(s)...</div>
            <div class="css-typing sm"></div>
          @else
            @if(!isUpdateKill)
              <button type="submit" class="start button button-white delay-6s">Start</button>
            @endif
          @endif
        </form>
      @endif


      @if(!startedAt && !isUpdateKill && isKillOwner)
        <a href="?updateKill=1" class="start delay-6s button button-white">Modify kill</a>
      @endif

      @if(portableLink && isKillOwner)
        <div>
          <div class="css-typing-hidden">
            Click here to generate a portable link in case you intend to switch to another device during the game.
          </div>
          <div id="copyButton2" class="css-typing xs underlined"></div>
          <div id="copyTarget2" hidden>{{portableLink}}</div>
        </div>
      @endif

      @if(!startedAt && killers && killers.length > 0)
          <div class="margin-3rem"></div>
          <div class="css-typing-hidden">
            Ready to kill:
          </div>
          <div class="css-typing sm"></div>
          @each(killer in killers)
            <div class="margin-1rem"></div>
            @if(killer == username)
              <div class="css-typing-hidden">
                {{killer}}
              </div>
              <div class="css-typing sm underlined"></div>
            @else
              <div class="css-typing-hidden">
                {{killer}}
              </div>
              <div class="css-typing sm"></div>
            @endif
          @endeach
          <div class="margin-3rem"></div>
      @endif

    @endif
    <!-- End Game Part -->
  </div>


  <!--  Scripts-->

  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/drift.js"></script>
  </body>
</html>
