/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background: linear-gradient(180deg,#000000 0,#555566);
}

nav ul a,
nav .brand-logo {
  color: #b1b1b1;
}


.whatsapp {
  position: relative;
  top: 50px;
  height: 78px;
}


.messenger {
  position: relative;
  top: 50px;
}


/*
Clipboard Button
*/

.clipboardButton {
  margin-top: 50px;
	background-color:transparent;
	cursor:pointer;
  color:#ffffff;
  padding: 45px;
	font-size:24px;
  text-decoration:none;
}
.clipboardButton:hover {
	background-color:transparent;
}
.clipboardButton:active {
	position:relative;
	top:1px;
}

.clipboardButton:disabled {
	border-color: #a59e9e;
	color:#a59e9e;
}


.clipboard {
  background: url("/images/clipboard.svg") no-repeat;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


input {
  color:white;
}

textarea {
  color: white;
}